<%- include('partials/head') %> 
<%- include('partials/nav') %> 

    <% const username="James Bond" %>
        <h1>SSR | <%= title %>
        </h1>
        <p>Kiek yra 5 * 47 = <%= 5 * 47 %>
        </p>
        <p>Siuo metu prisijunges yra: <%= username %>
        </p>
        <ul>
           <% tech.forEach(t => { %>
            <li> <%= t %></li>
           <% }) %>
        </ul>
        <%- include('partials/footer') %> 