<%- include('partials/head') %>
    <%- include('partials/nav') %>


        <!-- this is normas html comment -->
        <%# This is comment and it is safely hidden in back end %>
            <% const username="James Bond" %>
                <h1>
                    <%= title %>
                </h1>

                <p>Kiek yra 5 * 47 = <%= 5 * 47 %>
                </p>
                <p>Siuo metu prisijunges yra: <%= username %>
                </p>
                <ul>
                    <% tech.forEach(t=> { %>
                        <li>
                            <%= t %>
                        </li>
                        <% }) %>
                </ul>


                <%- include('partials/footer') %>