<% /** * return 'active' if page is===currentPage */ function setActiveClass(page) { return currentPage===page
    ? 'active' : '' } %>

    <header>
        <nav>
            <a href="/" class="navLink <%= setActiveClass('home') %>">Home</a>
            <a href="/about" class="navLink <%= setActiveClass('about') %> ">About</a>
            <a href="/contact" class="navLink <%= setActiveClass('contact') %> ">Contact us</a>
            <a href="/books" class="navLink <%= setActiveClass('books') %> ">Book us</a>
            <a href="/books/new" class="navLink <%= setActiveClass('new-book') %> ">Add book</a>
        </nav>
    </header>